h1 Obnovení hesla

p Někdo (pravděpodobně Vy) si vyžádal obnovení hesla pro účet spojený s Vaší emailovou adresou
  | (<tt>#{action.data.email}</tt>).
p Přejete-li si nastavit heslo, následujte prosím 
  a(href='https://skolajs.cz/action/'+action.id) tento odkaz

